<!DOCTYPE html>
<html>

<head>
  <title>The dropdown demo</title>
</head>

<body>
  <div class="example">
    <div id="demo_drop2">
      <div id="launcher2_container">
        <button id="launcher2">Select another</button>
      </div>
      <p>other data.</p>
      <p>other data.</p>
      <ul id="menu2">
        <li data-value="opt_2.1"><a href="javascript:void(0);">Option-2.1</a></li>
        <li data-value="opt_2.2"><a href="javascript:void(0);">Option-2.2</a></li>
        <hr>
        <li data-value="opt_2.3"><a href="javascript:void(0);">Option-2.3</a></li>
      </ul>
    </div>
    <p>other data.</p>
    <p>other data.</p>
  </div>
  </div>
</body>

</html>
